/* color palette from <https://github.com/vuejs/theme> */
:root {
  --ms-white-color: #ffffff;
  --ms-text-color: #3d3f4e;
  --ms-primary-color: #03ae66;
  --ms-active-sidebar: #0dd469;
  --ms-focus-grid: #cce8ff;
  --ms-hover: #e5f3ff;
  --ms-link: #0997eb;
  --ms-background-menu-sidebar: #24344b;
  --ms-background: #eaecef;
  --ms-gradient: linear-gradient(direction, #03c57d, #009253);
  --ms-header-gridpanel: #f5f6fa;
  --ms-line-gridpanel: #d5d8e6;
  --ms-background-sidebar: #24344b;
  --ms-border-button: #cecece;
  --ms-hover-button: #02bf70;
  --ms-disable-background-button: #e0e0e0;
  --ms-disable-text-button: #a6a6a6;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--ms-white);

}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Roboto,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}